@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #269fe6;
  --primary-color-hover: #2086c2;
  --primary-dark-color: #13141f;
  --primary-dark-color-hover: #212336;
  --primary-light-color: #d4ecfa;
  --primary-light-color-hover: #bdd8e7;

  --color-white: #fff;
  --color-black: #000;

  --dark-color-text: #444;
  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --font-primary: sans-serif;
  --font-headings: 'Roboto Slab', serif;

  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  background-color: var(--color-gray-1);
  color: var(--dark-color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings)
}

.center {
  text-align: center;
}

.container {
  max-width: 144.0rem;
  margin: 0 auto;
  padding: var(--spacing-gutter-medium);
}

.button-dark {
  background-color: var(--primary-dark-color);
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  padding: 2rem;
  transition: all 200ms ease-in-out;
}

.button-dark:hover {
  background-color: var(--primary-dark-color-hover)
}

.button-full-width {
  display: block;
  min-width: 100%;
}

/*

  * Header

*/

.main-header-container {
  background: var(--primary-dark-color);
}
  h1.header-logo {
    text-align: center;
  }
    a.main-logo {
      font-size: 4rem;
      color: var(--color-white);
      text-decoration: none;
    }
      .main-logo-icon { margin-right: 1.5rem }

.search-form {
  border: .2rem solid var(--primary-dark-color);
  border-radius: .5rem;
  max-width: 64rem;
  margin: 0 auto;
  position: relative;
}

/*

  * Search input form 

*/

.search-form:focus-within {
  border-color: var(--primary-color);
  background: var(--color-white);
}

.search-form,
  .search-button { transition: all 250ms ease }

  .search-form:focus-within .search-button { color: var(--primary-color) }

  .search-input,
  .search-button {
    border: none;
    outline: none;
    background: none;
    padding: 1rem;
  }

  .search-input {
    width: 100%;
    padding-right: 3.5rem;
  }

  .search-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }

  .search-button:focus {
    outline: .1rem solid var(--primary-color);
    border-radius: .2rem;
    background-color: var(--color-gray-0);
  }

/*

  * Footer

*/

footer {
  background: var(--primary-dark-color);
  color: var(--color-white);
}

  .footer-container {
    display: flex;
    justify-content: space-between;
  }


/*

  * Messages Styles

*/

.message {
  margin-bottom: .7rem;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-dark-text);
  background: var(--color-gray-2);
  color: var(--color-dark-text);
}

.message-error {
  border: 1px solid var(--color-error-dark);
  background: var(--color-error-light);
  color: var(--color-error-dark);
}

.message-success {
  border: 1px solid var(--color-success-dark);
  background: var(--color-success-light);
  color: var(--color-success-dark);
}

.message-info {
  border: 1px solid var(--color-info-dark);
  background: var(--color-info-light);
  color: var(--color-info-dark);
}

.message-warning {
  border: 1px solid var(--color-warning-dark);
  background: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.message-debug {
  border: 1px solid var(--color-debug-dark);
  background: var(--color-debug-light);
  color: var(--color-debug-dark);
}


.hidden-text {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  background-color: var(--primary-color);
  min-height: 100vh;
  overflow-y: auto;
  z-index: 2;
  transition: all 300ms ease-in-out;
}

.menu-container a {
  color: white;
  text-decoration: none;  
}

.menu-hidden {
  left: -255px;
}

.button-show-menu {
  position: fixed;
  left: 265px;
  top: 3rem;
  color: white;
  background-color: var(--primary-color);
  border: none;
  font-size: 2rem;
  z-index: 3;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.button-show-menu-visible {
  visibility: visible;
  opacity: 1;
  left: 5px;
}

.button-close-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  background:none;
  border: none;
  font-size: 2rem;
  z-index: 3;
  cursor: pointer;
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;
  font-family: var(--font-headings);
  font-size: 2rem;
}

.menu-nav a {
  width: 100%;
  padding: 1rem;

}