{% extends "base.html" %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'authors/css/base.css' %}">
  <title>Dashboard Recipe |</title>
{% endblock %}

{% block content %}
  {% include 'partials/_header.html' %}

  <div class="main-content center container">
    <h2>
      Dashboard Recipe {{ recipe.title }}
    </h2>
    {% include 'partials/_messages.html' %}
    <div class="">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% include 'partials/_form.html' %}

        <div class="form-content form-content-grid">
          <div class="form-group">
  
            <button type="submit">
              Edit Recipe
            </button>
  
          </div>
        </div>

      </form>
    </div>
  </div>

  {% include 'partials/_footer.html' %}
{% endblock %}
