{% extends 'base.html' %}
{% load static %}

{% block head %}

  <link rel="stylesheet" href="{% static 'authors/css/base.css' %}">
  <title>Log In</title>

{% endblock %}


{% block content %}
  {% include 'partials/_header.html' %}

  <div class="main-content center container">
    <h2>Login</h2>
  </div>

  <div class="main-content container">
    <form action="" method="post">
      {% csrf_token %}
      
      {% include 'partials/_form.html' %}

      <div class="form-content form-content-grid">
        <div class="form-group">

          <button type="submit">
            Login
          </button>

        </div>
      </div>

    </form>
  </div>

  {% include 'partials/_messages.html' %}
  {% include 'partials/_footer.html' %}
{% endblock %}