{% extends 'base.html' %}

{% block head %}

  <title>Sign up</title>

{% endblock %}

{% block content %}
  {% include 'partials/_header.html' %}

  <div class="main-content center container">
    <h2>Sign up</h2>
  </div>

  <div class="main-content container">
    <form action="" method="post">
      {% csrf_token %}
      
      <div class="form-content form-content-grid">
        {% for field in form %}

          <div class="form-group">

            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}<br>
          
            {{ field.errors }}
          </div>
          
        {% endfor %}
      </div>

      <button type="submit">
        Sign up
      </button>

    </form>
  </div>

  {% include 'partials/_footer.html' %}
{% endblock %}