{% extends 'base.html' %}
{% load static %}

{% block head %}

  <link rel="stylesheet" href="{% static 'authors/css/base.css' %}">
  <title>Sign up</title>

{% endblock %}

{% block content %}
  {% include 'partials/_header.html' %}

  <div class="main-content center container">
    <h2>Sign up</h2>
  </div>

  <div class="main-content container">
    <form action="" method="post">
      {% csrf_token %}
      
      <div class="form-content form-content-grid">
        {% for field in form %}

          <div class="form-group {% if field.errors %}form-error{% endif %}">

            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}<br>

            {{ field.errors }}
          </div>
          
        {% endfor %}
      </div>

      <div class="form-content form-content-grid">
        <div class="form-group">

          <button type="submit">
            Sign up
          </button>

        </div>
      </div>

    </form>
  </div>

  {% include 'partials/_footer.html' %}
{% endblock %}