{% extends 'recipes/base/base.html' %}
{% load static %}


{% block head %}
  <title>Home | Recipes</title>
{% endblock %}

{% block content %}

  {% if category_name %}
    <div class="container" style="text-align:center;">
      <h2>Filter by: {{ category_name }}</h2>
    </div>
  {% endif %}

  <div class="main-content main-content-list container">

    {% for recipe in recipes %}
      {% include 'recipes/partials/_recipe.html' with recipe=recipe %}
    {% endfor %}


  </div>

{% endblock %}