{% extends 'base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <title>Teste OK</title>
{% endblock %}

{% block content %}
  {% include 'partials/_header.html' %}

  <div class="search-container">
    <div class="container">
      <form action="" class="search-form">
        <input type="search" name="search" class="search-input">
        <button type="submit" class="search-button">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </div>


{% endblock %}